body {
  background-image: url(images/star_rotate_left.svg),
                    url(images/star_rotate_right.svg),
                    url(images/star_scale.svg),
                    linear-gradient(#000, #000, #010536);
  background-repeat: no-repeat,
                     no-repeat,
                     no-repeat,
                     repeat;
  background-position: 6% 15%,
                       55% 25%,
                       70% 10%,
                       center;
  background-size: 2em 2em,
                   2.5em 2.5em,
                   3em 3em,
                   195em;
}

h1 {
  color: #92939C;
  font: italic 2.5em arial, sans-serif;
  text-align: center;
}

.const {
  postion: relative;
  margin: 1em 3em 5em 7em;
}

.const.pegasus {
  position: relative;
  top: 4em;
}

.const.aquila {
  position: relative;
  bottom: 4em;
  margin: 1em 3em 5em 5em;
}

@keyframes cygnus-move {
  100% { transform: translate(2em,19em) scale(1.5); }
}

.const.cygnus.move {
  animation: cygnus-move 4s ease-out .5s forwards;
}

@keyframes pegasus-move {
  100% { transform: translate(-25em,16em) scale(1.5); }
}

.const.pegasus.move {
  animation: pegasus-move 5.5s ease-out .5s forwards;
}

@keyframes aquila-move {
  100% { transform: translate(-49em,24em) scale(1.5); }
}

.const.aquila.move {
  animation: aquila-move 6s ease-out .5s forwards;
}
